{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="input-group">
                <div class="image-preview-container">
                    <img id="imagePreview" src="{% if profile.image_base64 %}{{ profile.image_base64 }}{% else %}https://via.placeholder.com/200{% endif %}" alt="Image Preview" />
                </div>
                <!-- File input for selecting a new profile image -->
                <input type="file" id="file-input" name="profile_image" accept="image/*" onchange="previewImage(event)"  />
                {{ form.as_p }}  
            </div>
            <div class="button-group">
                <button type="submit" class="submit-btn">Submit</button>
                <button type="button" class="cancel-btn" onclick="window.location.href='{% url 'profile_page' %}';">Cancel</button>
            </div>
        </form>
    </div>

    <script>
        function previewImage(event) {
            const file = event.target.files[0]; // Get the selected file
            const imagePreview = document.getElementById('imagePreview'); // Get the image preview element

            if (file) {
                const reader = new FileReader(); // Create a FileReader to read the file

                // Define the onload function to update the image source
                reader.onload = function(e) {
                    imagePreview.src = e.target.result; // Set the image source to the file's data URL
                };

                reader.readAsDataURL(file); // Read the file as a data URL
            }
        }
    </script>
</body>
</html>
