{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}?v={{ STATIC_VERSION }}">

</head>
<body>
    <h1>My Profile</h1>
    <div class='all-info-container'>
        <div class='profile-section'>
        
            <div class="profile-pic-container">
                {% if profile.image_base64 %}
                    <img class="profile-pic" src="{{ profile.image_base64 }}" alt="Profile Image">
                {% else %}
                <img src="{% static '' %}" alt="Default Profile Image">
    
                {% endif %}
            </div>
            <div class='name-license-container'>
                <h2 class="profile-name">{{ user.first_name }} {{ user.last_name }}SAMANTHA SMITH</h2>
                <span class="profile-value" placeholder="License No.">{{ profile.license_no }} License No. H12193198</span>
            </div>
            <div class='edit-button'>
                <button>EDIT</button>

            </div>
            
        </div>
    
        <div class='personal-info-section'>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Birth Date</p>
        </div>
    
        <div class='contact-info-section'>
            <p>Email Address</p>
            <p>Contact Number</p>
            
        </div>

    </div>
    
   

        <!-- Edit and Back Buttons -->
        <div class="profile-actions">
            <a href="{% url 'update_profile' %}" class="edit-btn">EDIT</a>
            <a href="{% url 'home' %}" class="back-btn">BACK</a>
        </div>
    </div>
</body>
</html>
