{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/verify_license.css' %}?v={{ STATIC_VERSION }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
        
      

            

           

        <h2>License Verification</h2>
        </br>
        <form method="POST" class="license-verification-form" action="{% url 'license_verification' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="license">License Number</label>
                <div class="input-wrapper">
                    <i class="input-icon fas fa-id-card"></i>
                    {{ form.license_no }}
                </div>
                {% if form.license_no.errors %}
                    <div class="form-error">
                        {{ form.license_no.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Verify</button>
        </form>
        


    
    {% block extra_js %}{% endblock %}
{% endblock %}
