body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    width: 250px;

}

.logo img {
    width: 250px;
    
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: #2C3E50;
}

.buttons {
    margin-top: 40px;
}

.buttons button {
    padding: 10px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn {
    background-color: #1F2C56;
    color: #FFFFFF;
}

.register-btn {
    background-color: #7489B5;
    color: #FFFFFF;
}

.right {
    flex: 1;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-image img {
    max-width: 100%;
    height: auto;
}