html, body {
    height: 100%; /* Set height to 100% for both html and body */
    margin: 0; /* Remove default margin */
    padding: 10px; /* Remove default padding */
    overflow: auto;

}

body::before {
    content: '';
    position: absolute; /* Position the overlay */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('../images/cover-img.jpg'); /* Background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Cover the whole area */
    opacity: 0.2; /* Set opacity (0 to 1, where 0 is fully transparent and 1 is fully opaque) */
    z-index: -1; /* Place it behind other content */
}


.all-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* font-family: 'Secular One', serif; */
}

.profile-section {
    display: flex;
    gap: 30px;
}

.profile-pic {
    width: 150px; /* Set the width */
    height: 150px; /* Set the height */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    border-radius: 50%; /* Optional: If you want a circular image */
}


.edit-button {
    margin-left: auto;
 
}

.edit-button a {
    text-decoration: none;
    color: #1E2A5E;
   
}



.profile-section, .personal-info-section {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25); /* Stronger shadow effect */
}





.personal-info-section{

    display: flex;

}

.back-btn {

    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1E2A5E; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.profile-actions{
    width: 80%;
    display: flex;
    justify-content: end;

}

a {
    text-decoration: none;
}


.personal-info-label, .personal-info-value {
    /* display: flex;
    gap: 50px;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 3rem;
   
}