* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


html, body {
    height: 100%; /* Set height to 100% for both html and body */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

body::before {
    content: '';
    position: absolute; /* Position the overlay */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('../images/cover-img.jpg'); /* Background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Cover the whole area */
    opacity: 0.2; /* Set opacity (0 to 1, where 0 is fully transparent and 1 is fully opaque) */
    z-index: -1; /* Place it behind other content */
}

.container {
    width: 500px;
 
    border-radius: 10px;
    padding: 20px;

    text-align: center;

}

.profile-pic-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.profile-pic-wrapper img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid black;
}

.profile-pic-wrapper input[type="file"] {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.input-row {
    display: flex;
    gap: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.submit-btn, .cancel-btn {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn {
    background-color: #002f6c;
    color: white;
}

.cancel-btn {
    background-color: #b3c2d4;
    color: black;
}


#imagePreview {
    width: 100%; /* Image scales to fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; /* Optional: Set a max height to prevent excessive growth */
    object-fit: cover; /* Crop image if it's larger than container */
}