.head-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-wrap: wrap;
}


html, body {
    height: 100%;
    overflow-y: auto; /* Ensure the page is scrollable when content overflows */
    margin: 0;
    padding: 0;
}



body::before {
    content: ""; /* Creates a pseudo-element */
    position: absolute; /* Absolutely positions it */
    top: 0; /* Aligns it to the top */
    left: 0; /* Aligns it to the left */
    right: 0; /* Aligns it to the right */
    bottom: 0; /* Aligns it to the bottom */
    background-image: url("../images/cover-img.jpg"); /* Background image */
    background-size: cover; /* Ensures the image covers the whole background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the background image */
    opacity: 0.3; /* Adjust opacity (0 is fully transparent, 1 is fully opaque) */
    z-index: -1; /* Sends the overlay behind other content */
}

.content {
    position: relative; /* Keeps content above the overlay */
    z-index: 1; /* Ensures content is above the overlay */
}



.vehicle-list-container.highlight {
    background-color: #F0F8FF; /* Highlight color for the entire section */
    border: 2px solid #7C93C3; /* Optional: To make the highlight stand out */
    padding: 10px;
    border-radius: 10px;
}


.filter-container {
    display: flex;
    align-items: center;
}

.filter-container label {
    margin-right: 10px;
    font-size: 1.75vh;
  
}

.filter-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1E2A5E; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.filter-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    appearance: none; 
    background-color: white; 
    cursor: pointer;
    width: 20vh;
    text-align: center;
}


.filter-dropdown::after {
    content: '▼'; 
    position: absolute;
    right: 20px; 
    pointer-events: none; 
}

.filter-dropdown option {
    padding: 10px; 
}

.filter-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1E2A5E; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px; 
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1E2A5E; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s; 
}


.search-button:hover {
    background-color: #0056b3; 
}

.create-vehicle-container a {
    margin-top: 1vh;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1E2A5E;
    color: white ;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.create-vehicle-container a:hover {
    background-color: #0056b3 !important; 
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 4px;
    background-color: #1E2A5E;
    margin: 4px 0;
    transition: 0.4s;
}

/* Add this to your vehicle_list.css or a new CSS file */
.sidebar {
    position: fixed; /* Fixed position to stay in place */
    top: 0; /* Align to the top */
    right: -250px; /* Hide off-screen initially on the right */
    width: 250px; /* Width of the sidebar */
    height: 100%; /* Full height */
    background-color:white; /* Background color */
    color: black; /* Text color */
    transition: right 0.3s ease; /* Smooth transition */
    padding: 20px; /* Padding inside sidebar */
    z-index: 1000; /* Stay above other content */
    box-shadow: -2px 0px 2px grey;
}

.sidebar.open {
    right: 0; /* Slide in when opened */
}

.sidebar ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

.sidebar li {
    margin: 15px 0; /* Space between items */
}

.sidebar a {
    color: black; /* Link color */
    text-decoration: none; /* Remove underline */
}

.sidebar a:hover {
    text-decoration: underline; /* Underline on hover */
}



.dropdown-menu a:hover {
    background-color: white; 
}


.burger-menu.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px); 
}

.burger-menu.active .line:nth-child(2) {
    opacity: 0; 
}

.burger-menu.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px); 
}


.lower-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
    gap: 20px; /* Space between the grid items */
    padding: 10px;
    height: auto; /* Allow the height to adjust based on content */
    margin: 10px;
    justify-items: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
   
}

.vehicle-list-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 320px; /* Fixed width */
    height: 350px; /* Fixed height */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    overflow: hidden;
}



.vehicle-list-container li {
    list-style-type: none;
}

.vehicle-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* Ensure the vehicle-item takes up full container height */
}


.vehicle-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 150px; /* Fixed height */
    object-fit: contain;
    flex-grow: 1; /* This allows the image to take up available space */
}



.vehicle-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}



.vehicle-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: auto; /* Pushes the info to the bottom */
    text-align: left; /* Align text to left */
    font-family: 'Secular One', sans-serif; /* Apply Secular One font */
}

.vehicle-info h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.vehicle-info p {
    font-size: 1rem;
    margin: 5px 0;
}

.vehicle-price {
    font-weight: bold;
    color: #666;
}

.vehicle-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: auto; /* Push the button to the bottom */
}

.vehicle-button-container button {
    background-color: #1E2A5E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vehicle-button-container button:hover {
    background-color: #16204A;
}

  .UD-operations{
    display: flex;
  }

  .UD-operations button{
    background-color: #E22226;
  }


  .UD-operations a {
    margin-right: 5px;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1E2A5E;
    color: white ;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    background-color: #7C93C3;
  }


  .nav-container {
    
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    
  

}

.nav-bar {

    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.logo img{
    height: 20vh;
    
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    align-items: center;
  
}

.nav-bar ul li {
    display: inline;
    
}

.nav-bar ul li a {
    color: black;

    padding: 30px;
    display: block;
    text-decoration: none;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
