{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/vehicle_list.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>HOME</title>
</head>
<body>
    <div class="upper-part">
        <div class="nav-container">
            <nav class="nav-bar">
                <div class="logo">
                    <img src="{% static 'images/Logo-Clear.png' %}" alt="Logo">
                </div>
                <ul id="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'vehicle_list' %}">Vehicles</a></li>
                    <li><a href="#About Us">About Us</a></li>
                </ul>
                <div class="burger-menu" id="burger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>
     
        <section class="head-nav">
            <div class="filter-container">
                <form method="GET" action="">
                    <select id="filter" name="vehicle_type" class="filter-dropdown">
                        <option value="all" {% if type_filter == 'all' %}selected{% endif %}>VIEW ALL</option>
                        <option value="4 seater" {% if type_filter == '4 seater' %}selected{% endif %}>4 seater</option>
                        <option value="6 seater" {% if type_filter == '6 seater' %}selected{% endif %}>6 seater</option>
                        <option value="1 seater" {% if type_filter == 'Motorcycle' %}selected{% endif %}>Motorcycle</option>
                    </select>
                    <button class="filter-button" type="submit">Filter By</button>
                </form>
            </div>

            <div class="search-container">
                <form method="GET" action="">
                    <input type="text" id="search" class="search-bar" placeholder="Search..." name='vehicle_search'>
                    <button type='submit' class="search-button">Search</button>
                </form>
            </div>
        </section>
    </div>

    <!-- Sidebar -->
    <aside class="sidebar" id="sidebar">
        <ul>
            <li><a href="{% url 'profile_page' %}">Profile</a></li>
            <li><a href="#Bookings">Bookings</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    </aside>

    <div class="lower-part">
        {% for vehicle in vehicles %} 
        <section class="vehicle-list-container {% if vehicle_detail and vehicle.vehicle_id == vehicle_detail.vehicle_id %}highlight{% endif %}">
            <li id="vehicle_{{ vehicle.vehicle_id }}">
                <div class="vehicle-item">
                    <img src="{{ vehicle.image_base64 }}" alt="{{ vehicle.vehicle_model }}">
                    <div class="vehicle-info">
                        <br>
                        <h3>{{ vehicle.vehicle_brand }}</h3>
                        <h3>{{ vehicle.vehicle_model }}</h3>
                        <p>{{ vehicle.vehicle_type }}</p>
                        <p class="vehicle-price">Php {{ vehicle.vehicle_price }}/day</p>
                    </div>
                    <div class="vehicle-button-container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <button type="button" class="view-button" 
        data-vehicle-id="{{ vehicle.vehicle_id }}"
        data-vehicle-brand="{{ vehicle.vehicle_brand }}"
        data-vehicle-model="{{ vehicle.vehicle_model }}"
        data-vehicle-type="{{ vehicle.vehicle_type }}"
        data-vehicle-price="{{ vehicle.vehicle_price }}"
        data-vehicle-image="{{vehicle.image_base64 }}">View</button>

                        </form>
                    </div>
                </div>
            </li>
        </section>
        {% endfor %}
    </div>

    <!-- Modal Structure -->
    <div id="vehicle-modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="close-modal">&times;</span>
            <h2>Vehicle Details</h2>
            <div id="modal-vehicle-info">
                    
            </div>
            <button>BOOK</button>
        </div>
    </div>

    <!-- Load JavaScript file -->
    <script src="{% static 'js/script.js' %}" defer></script>
</body>
</html>
