{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/vehicle_list.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>HOME</title>
</head>
<body>
    <div class="upper-part">
        <section class="head-nav">
            <div class="filter-container">
                <form method="GET" action="">
                    <select id="filter" name="vehicle_type" class="filter-dropdown">
                        <option value="all" {% if type_filter == 'all' %}selected{% endif %}>VIEW ALL</option>
                        <option value="4 seater" {% if type_filter == '4 seater' %}selected{% endif %}>4 seater</option>
                        <option value="6 seater" {% if type_filter == '6 seater' %}selected{% endif %}>6 seater</option>
                        <option value="1 seater" {% if type_filter == 'Motorcycle' %}selected{% endif %}>Motorcycle</option>
                    </select>
                    <button class="filter-button" type="submit" >Filter By</button>
                </form>
            </div>
            
            <div class="search-container">
                <form method="GET" action="">
                    <input type="text" id="search" class="search-bar" placeholder="Search..." name='vehicle_search' >
                    <button type='submit' class="search-button">Search</button>
                </form>
                
            </div>

            <div class="menu-container">
                <div class="burger-menu" id="burger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <nav class="dropdown-menu" id="dropdown-menu">
                    <ul>
                        <li><a href="#Profile">Profile</a></li>
                        <li><a href="#Bookings">Bookings</a></li>
                        <li><a href="#Logout">Log Out</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    
    <div class="lower-part">
        <section class="view-detail-container">
            <h3>View Details</h3>
            <ul id="vehicle-detail-list">
                <li >
                    {% if vehicle_detail %}
                        <p>Brand: {{ vehicle_detail.vehicle_brand }}</p>
                        <p>Model: {{ vehicle_detail.vehicle_model }}</p>
                        <p>Type: {{ vehicle_detail.vehicle_type }}</p>
                        <p>Price / Day: {{ vehicle_detail.vehicle_price }}</p>
                        <p>Status: {{ vehicle_detail.vehicle_status }}</p>
                    {% else %}
                        <p>No Vehicle Selected</p>
                    {% endif %}
                </li>
            </ul>
        </section>

        <section class="vehicle-list-container">
            <ul>
                {% for vehicle in vehicles %}
                <li id="vehicle_{{ vehicle.vehicle_id }}" class="{% if vehicle_detail and vehicle.vehicle_id == vehicle_detail.vehicle_id %}highlight{% endif %}">
                    <div class="vehicle-item">
                      <img src="{{ vehicle.image_base64 }}" alt="{{ vehicle.vehicle_model }}">
                      <div class="vehicle-info">
                        <h3>{{ vehicle.vehicle_model }}</h3>
                        <p>{{ vehicle.vehicle_type }}</p>
                        <p>{{ vehicle.vehicle_price }}</p>

                        <form method="POST" action="">
                            {% csrf_token %}
                            <button type="submit" name="vehicle_id" value="{{ vehicle.vehicle_id }}">View Details</button>
                            <button type="submit">Book</button>
                        </form>
                      </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>

 
</body>
</html>
