{% extends 'admin_dashboard.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin_dashboard/css/user_list.css' %}">
{% endblock %}

{% block content %}
<div class="header-container">
    <h1>Users</h1>
</div>
<div class="tabs">
    <a href="?status=all" class="tab {% if request.GET.status == 'all' %}active{% endif %}">All</a>
    <a href="?status=active" class="tab {% if request.GET.status == 'active' %}active{% endif %}">Active</a>
    <a href="?status=inactive" class="tab {% if request.GET.status == 'inactive' %}active{% endif %}">Inactive</a>
</div>

<div class="user-list">
    <div class="user-header">
        <span>Picture</span>
        <span>Username</span>
        <span>First Name</span>
        <span>Last Name</span>
        <span>Email Address</span>
        <span>Verification Status</span>
        <span>License</span>
        <span>Actions</span>
    </div>
    {% if users %}
    {% for profile in users %}
        <div class="user-row">
            <div class="profile-pic-container">
                {% if profile.image_base64 %}
                    <img class="profile-pic" src="{{ profile.image_base64 }}" alt="Profile Image">
                {% else %}
                    <img class="profile-pic" src="{% static 'admin_dashboard/images/user_placeholder.png' %}" alt="Default Profile Image">
                {% endif %}
            </div>
            <div class="user-username">
                <p>{{ profile.user.username }}</p>
            </div>
            <div class="user-fname">
                <span>{{ profile.first_name|default:"—" }}</span>
            </div>
            <div class="user-lname">
                <span>{{ profile.last_name|default:"—" }}</span>
            </div>
            <div class="user-email">
                <span>{{ profile.email|default:"—" }}</span>
            </div>
            <div class="user-verification">
                {% if profile.license_verified %}
                    <span class="verified">Verified</span>
                {% else %}
                    <span class="unverified">Unverified</span>
                {% endif %}
            </div>
            <div class="user-license">
                <span>{{ profile.license_no|default:"—" }}</span>
            </div>
            <div class="user-actions">
                {% if profile.user.is_active %}
                <form method="POST" action="{% url 'users' %}" onsubmit="return confirmDelete()">
                    {% csrf_token %}
                    <button type="submit" name="delete_user" value="{{ profile.id }}" class="delete-button">Delete</button>
                </form>
                {% else %}
                    <span>-</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="user-row">
            <span> No users found</span>
        </div>
    {% endif %}
</div>
{% endblock %}


{% block extra_js %}
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to deactivate this account?");
    }
</script>
{% endblock %}
