{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/vehicle_rating.css' %}?v={{ STATIC_VERSION }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    

    <script src="{% static 'js/vehicle_rating.js' %}"></script>
{% endblock %}
