{% extends 'base_page.html' %}
{% load static %}
{% block content %}
    <div class="login-box">
        <h1>LOGIN</h1>
        <form method="post">
            {% csrf_token %}
            <input type="username" name="username" placeholder="Username" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            {% if form.non_field_errors %}
                <div class="error" style="color: red;">{{ form.non_field_errors }}</div>
            {% endif %}
            <input type="submit" value="Log-in">
        </form>
        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        <p> Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
{% endblock %}