{% extends 'base_page.html' %}
{% load static %}
{% block extra_css %}
{{ block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password.css' %}">

{% endblock %}
{% block content %}
        <h1>Password Reset</h1>

        {% if not validlink %}
            <p>Please enter a new password for your account:</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Reset Password</button>
            </form>
        {% else %}
            <p>The password reset link is not valid or has expired. Please try again.</p>
        {% endif %}
    </div>
{% endblock %}

