{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="nav-container">
        <nav class="nav-bar">
            <div class="logo">
                <img src="{% static 'images/Logo-Clear.png' %}" alt="Your Company Logo">
            </div>
            <ul id="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'contact_view' %}">Contact Us</a></li>
            </ul>
            <div class="burger-menu" id="burger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="dropdown" id="dropdownMenu">
                <ul>
                    <li>
                        <a href="{% url 'profile_page' %}">
                            <img src="{% static 'images/user.png' %}" alt="Profile Icon" style="width: 20px; height: 20px, padding: 2px; vertical-align: middle;"> Profile
                        </a>
                        
                    </li>
                    <li>
                        <a href="{% url 'booking_list' %}">
                            <img src="{% static 'images/booking-list.png' %}" alt="Booking List Icon" style="width: 20px; height: 20px, padding: 2px; vertical-align: middle;"> Booking List
                        </a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
                    <li>
                        <a href="{% url 'vehicle_list' %}">
                            <img src="{% static 'images/dashboard.png' %}" alt="Dashboard Icon" style="width: 20px; height: 20px, padding: 2px; vertical-align: middle;"> Dashboard
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout' %}">
                            <img src="{% static 'images/logout.png' %}" alt="Logout Icon" style="width: 20px; height: 20px, padding: 2px; vertical-align: middle;"> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- JavaScript File -->
    <script src="{% static 'js/homepage_script.js' %}" defer></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
